#header{
    float: right;
}
#wrapper{
    height:1000px;
    width: 80%;
    background-color: blue;
    margin: 0 auto;
}
#mySidenav{
    float:left;
}
#homebtn{
    width: 25%;
}
#boardbtn{
    width: 25%;
}
#chatbtn{
    width: 25%;
}
#shopbtn{
    width: 25%;
    
}
nav{
    width: 100%;
}
.boardbox{
    height: 200px;
    width: 200px;
    background-color:  red;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}